@import 'material';

* {
  font-family: 'Noto Sans', sans-serif !important;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px; /* Scale down for smaller screens */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Further scale down for tablets */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; /* Even smaller for mobile */
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clickable {
  cursor: pointer;
}

pre {
  margin: 0;
}

.leaflet-control-attribution {
  display: none;
}
